.carousel-item img {
    height: auto;
    max-height: 800px; /* Ajusta la altura máxima de las imágenes en dispositivos grandes */
  }
  .post img{
    height: 450px;
  }
  
  @media (max-width: 1199px) {
    .carousel-item img {
        width: 100%;
        height: 300px; /* Ajusta la altura de las imagenes en tablets*/
        max-height: 400px; /* Ajusta la altura máxima de las imágenes en resolucion tablets */
      }  
      .carousel-caption p {
        font-size: 30px;
      }
      .clothes img {
        height: 350px;
      }
      .categorias img {
        height: 350px;
      }
      .post img {
        height: 250px;
      }
    }

  @media (max-width: 767px) {
    .carousel-item img {
        height: 450px;
        max-height: 800px; /* Ajusta la altura máxima de las imágenes en resolucion móviles */
    }
    .textos{
      font-size: 50px;
    }
    .carousel-item .row > div {
      display: none; /* Ocultar todas las imágenes en dispositivos móviles / CarouselNuevaColeccion*/
    }
    .carousel-item .row > div:first-child {
      display: block; /* Mostrar solo la primera imagen / CarouselNuevaColeccion */
    }
    .carousel-caption p {
      font-size: 50px;
    }
    .post img{
      height: 250px;
    }
    .clothes img {
      height: 600px;
    }
    .categorias img {
      height: 550px;
    }
  }

  /* En pantallas grandes (escritorio): mostrar las 3 imágenes en fila, sin deslizamiento / CarouselCatagorias */
  @media (min-width: 768px) {
  .carousel-inner.categorias {
    display: flex;
    justify-content: space-between; /* Espaciado entre las imágenes */
  }
  .carousel-item.categorias {
    display: block;
    width: 100%; /* Asegura que las imágenes tomen su espacio */
  }
  .carousel-control-prev.prev,
  .carousel-control-next.next {
    display: none;
    transition: none;
  }
  .textos{
    font-size: 50px;
  }
}

/* En pantallas grandes (escritorio): mostrar las 3 imágenes en fila, sin deslizamiento / CarouselClothes */
@media (min-width: 768px) {
  .carousel-inner.clothes {
    display: flex;
    justify-content: space-between; /* Espaciado entre las imágenes */
  }
  .carousel-item.clothes {
    display: block;
    width: 100%; /* Asegura que las imágenes tomen su espacio */
  }
  .carousel-control-prev.prev.prev,
  .carousel-control-next.next {
    display: none;
    transition: none;
  }
  
}


